<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="Host" value="192.168.194.134"/>
    <add key="Username" value="Administrator"/>
    <add key="Password" value="Cam1star"/>
    <add key="Domain" value="."/>
    <add key="Port" value="2881"/>

    <add key="LogFile" value="Test.log"/>
    <add key="LogLevel" value="Normal"/>
    <add key="LogFileSize" value="10MB"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="LocalUri" value="net.tcp://10.86.8.114:8869/"/>
  </appSettings>
</configuration>
